@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
    font-family: 'Architects Daughter', cursive;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 5em 10vw;
}


.header{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: red;
}